# Ignore object files
**/*.o
**/*.obj
**/*.pdb
**/*.sdf
**/*.suo

# Ignore output folders from code generation
**/*_CODE

# Ignore Visual Studio intermediate directories
**/obj/
**/obj_generate/
**/x64/
**/.vs/

# Ignore generator executables
**/generator_*_*.*
**/generator
**/generator.d

# Ignore CSV files used for recording
*.csv
